@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto:400,700&display=swap&subset=latin-ext');


$main-color: #8daae5;
$default-font: 'arial',
'sans-serif';
$special-font: 'pt sans',
'roboto',
'arial',
'sans-serif';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 10px;
  font-family: $default-font;
  background-color: $main-color;
  color: white;
}

.wrapper {
  // container
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: start;
  // position
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  // image
  font-size: 2rem;
  background-color: white;
  box-shadow: 0 0 4px 0 black;
}

.logo {
  flex-basis: 200px;

  @media(max-width:799px) {
    flex-basis: 100px;
  }

  &__image {
    width: 100%;
    display: block;
  }

}

.search {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @media(max-width:799px) {
    flex-basis: 100%;
    order: -1;

  }

  &__input {
    flex-basis: 60%;
    height: 50%;
    min-height: 50px;
    max-height: 60px;
    margin-right: 2vh;
    padding: 0 10px;
    font-size: 1.4rem;

    &:focus {
      box-shadow: 0 0 2px 1px $main-color;
      font-weight: bold;
    }
  }

  &__btn {
    font-size: 1.4rem;
    height: 50%;
    min-height: 50px;
    max-height: 60px;
    padding: 0 10px;
    border: 2px solid black;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      background-color: #000;
      color: white;
    }
  }
}

.settings {
  display: flex;
  padding: 0 30px 0 50px;
  align-items: center;

  &__icon-link {
    margin: 0 10px;
    font-size: 2.2rem;
    color: #666;

    &:hover {
      color: black;
    }
  }

}

.menu {
  flex-basis: 100%;
  background-color: lightslategrey;
  font-family: $special-font;
  height: 70px;
  margin-top: 10px;
  padding: 15px 50px 15px 80px;

  &__list {
    display: flex;
    list-style: none;

  }

  &__item {

    margin: 0 20px;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 4rem;

    &:hover {
      border-bottom: 2px white solid
    }

    &:nth-last-child(1) {
      margin-left: auto;
      border: 2px solid white;
      padding: 0 22px;

      &:hover {
        border-color: black;
      }

      .menu__link {
        padding: 0 22px;
      }

    }
  }


  &__link {
    display: block;
    color: white;
    text-decoration: none;
  }
}



.main-articles {
  background-color: $main-color;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;

  &__intro {
    flex-basis: 100%;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 60px 0 30px;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 2px;

  }

  .article {
    flex-basis: 50%;

    @media(max-width: 799px) {
      flex-basis: 100%;

    }
  }

}

.article {
  flex-basis: 50%;
  padding: 30px 50px;
  color: #333;
  text-align: center;

  &--small {
    padding: 20px 30px;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__title {
    font-family: $special-font;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 35px 0 15px;

    .article--small & {
      padding: 25px 0 10px;
      font-size: 1.8rem;
      background-color: $main-color;
    }
  }

  &__introduction {
    line-height: 1.6;
    font-size: 1.6rem;
  }

  &__btn {
    display: block;

    width: 50%;
    min-width: 200px;
    font-size: 1.8rem;
    border: 2px solid black;
    padding: 6px 12px;
    margin: 10px auto;
    background-color: $main-color;
    color: black;
    text-decoration: none;

    &:hover {
      background-color: white;
    }
  }
}



.article-list {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__article {
    flex-basis: 30%;

    @media(max-width:1023px) {
      flex-basis: 45%;
    }

    @media(max-width:799px) {
      flex-basis: 95%;
    }

    // flex-grow: 1;
  }

}

.footer {
  flex-basis: 100%;
  background-color: $main-color;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;


  .sm-links {
    flex-basis: 25%;

  }
}

.sm-links {
  font-family: $special-font;
  padding: 20px;

  &--darken {
    background-color: darken($main-color, 10%);
  }

  &__title {
    margin: 20px 0 40px;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 400;

  }

  &__item {
    text-indent: 55px;
    font-size: 1.8rem;
  }

}